.container{
	padding: 8px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #fff;
	border-radius: 5px;
	box-shadow: 2px 2px 7px rgba(214, 214, 214, 0.4);
}
.container .arrow{
	height: 10px;
	width: 10px;
	border-left: 2px solid #098DDF;
	border-bottom: 2px solid #098DDF;
	transform: rotate(45deg);
}
.container .arrow:hover{
	border-left: 2px solid #6fb8e5;
	border-bottom: 2px solid #6fb8e5;
}
.container h4{
	margin-left: 8px;
}
.container h4 span{
	color: #999;
	font-weight: 600;
}