.container {
	font-size: 1em;
	padding:0.625em 1.25em;
	border-radius: 10px;
	border:1px solid #098DDF;
	/* width: 280px; */
	height: 8.75rem;
	box-shadow:1px 1px 5px -2px #999;
	background: #fff;
}
.container h4{
	color: #3c4043;
	font-weight:700;
	font-size: 0.95em;
	font-family: 'Open Sans', sans-serif;
}
.container h3{
	font-size: 0.9375em;
}
.container .detail{
	margin-top:0.3125em;
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
}
.detail .icon{
	list-style: none;
	font-size:0.75em;
}
.detail .icon li{
	margin-top: 0.4375em;
}
.detail .icon li svg{
	margin-right: 0.5em;
	font-size:0.875em;
}
.detail .getin{
	padding: 0.4375em 0.625em;
	border-radius: 0.625em;
	border: 1px solid #000;
	font-weight:700;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.detail .getin.disabled{
	pointer-events: none;
}
.detail .getin:hover{
	background: #098DDF;
	color: #fff;
	border: 1px solid #098DDF;
}
.container .nodata{
	margin-top: 0.625em;
	font-size: 0.93em;
	color: rgba(0,0,0,.549);
}