.leftSide{
	display: flex;
	justify-content: center;
	width: 20%;
}
.rightSide{
	margin-left: 0.3rem;
}
.hider{
	font-size: 0.9rem;
	position: absolute;
	top: 2.05rem;
	left: 300px;
	transform: translate(50%, -50%);
	background: var(--primary-color);
	height: 1.7em;
	width: 1.7em;
	border-radius: 50%;
	text-align: center;
	line-height: 1.7em;
	cursor: pointer;
	z-index:104;
}
.hider svg{
	color: #fff;
}
.container{
	position:fixed;
	top:0;
	bottom:0;
	margin-left:-300px;
	display:flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	padding-bottom: 4rem;
	background:#fff;
	color: #073763;
	box-shadow: 1px 0 20px rgba(206, 206, 206, 0.4);
	transition: all 0.4s ease;
	overflow-y: auto;
	z-index:103;
	--sidebar-font-size: 0.85rem;
}
.container .user{
	height:4.1rem;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,.12);
	cursor: pointer;
	display: flex;
	align-items: center;
	padding:1.8rem 2.2rem;
	transition: all 0.2s ease;
}
.container .user:hover{
	background: rgba(215, 215, 215, 0.1);
}
.container .user .photo{
	width: 2.2rem;
	height: 2.2rem;
	border-radius:50%;
	overflow: hidden;
}
.container .user .detail .name{
	font-size: var(--sidebar-font-size);
	font-weight: 500;
	color: var(--primary-font-color);
}
.container .user .detail .email{
	font-size: 0.78rem;
	color: var(--primary-font-color);
}
.container .nav{
	padding:10px 20px;
	display: flex;
	flex-direction: column;
	width:100%;
	list-style: none;
}
.container .nav li a{
	text-decoration: none;
	display:flex;
	align-items:center;
	padding:15px;
	border-radius:10px;
	color: #073763;
}
.container .nav li a:hover{
	background: rgba(198, 223, 255, 0.5);
}
.container .nav li a.active{
	background: rgba(198, 223, 255, 0.5);
}
.container .nav li a{
}
.container .nav li a svg{
	font-weight:500;
	font-size:20px;
	color: #999;
}
.container .nav li a.active svg{
	color: #073763;
}
.container .nav li a .navName{
	text-align:left;
	font-size: var(--sidebar-font-size);
	font-weight:600;
}
.container .nav li a.active .navName{
	font-weight:700;
}
.container .classContainer{
	width: 100%;
	overflow-y: auto;
	font-size: var(--sidebar-font-size);
	font-weight:600;
}
.container .classContainer .typeContainer{
	padding:10px 20px;
	border-top: 1px solid rgba(0,0,0,.12);
}
.container .classContainer .typeContainer .nameType{
	font-size: var(--sidebar-font-size);
	font-weight:600;
	color: #999;
}
.container .classContainer ul{
	margin:20px 0;
	padding-left:10px;
	list-style: none;
	border-left: 2px solid rgba(180, 180, 180, 0.4);
}
.container .classContainer ul a{
	display:flex;
	align-items:center;
	padding:8px;
	text-decoration:none;
	border-radius: 10px; 
	color: #073763;
}
.container .classContainer ul a:hover{
	background: rgba(215, 215, 215, 0.5);
	
}
.container .classContainer ul a.active{
	background: rgba(215, 215, 215, 0.5);
}
.classContainer ul a .circle{
	margin-right:10px;
	height:35px;
	width:35px;
	text-align:center;
	line-height:35px;
	font-weight:bolder;
	border-radius: 50%;
	background: red;
	color: #fff;
}
.classContainer ul a.active span{
	
	font-weight:700;
}
.container .logout{
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	padding: 0 2.2rem;
	width: 100%;
	font-size: var(--sidebar-font-size);
	height: 4em;
	border-top: 1px solid rgba(0,0,0,.12);
	cursor: pointer;
	transition: all 0.2s ease;
	background: #fff;
}
.container .logout:hover{
	background: rgba(215, 215, 215, 0.3);
}
.container .logout .icon{
	height: 2.5em;
	width: 2.5em;
	line-height: 2.5em;
	text-align: center;
	background: rgba(215, 215, 215, 0.5);
	border-radius: 3px;
}
.container .logout .icon svg{
	color: #ed2a00;
	font-size: 1.2em;
}
.container .logout span{
	font-size: 1em;
	font-weight: 600;
}
