.container{
	position: relative;
    padding: 0 110px;
	display: flex;
	justify-content: center;
    background: #eee;
    min-height: calc(100vh - 65px);
}
.container .mainContent{
	min-height: calc(100vh - 65px);
    background: #fff;
	padding-bottom: 25px;
}
.container .mainContent .about{
	padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(224, 224, 224, 0.8);
}
.container .mainContent .about .className{
	position: relative;
}
.container .mainContent .about .className a{
	text-decoration: none;
    font-weight: 600;
    color: #737373;
}
.container .mainContent .about .className a:before{
	position: absolute;
    top: 50%;
    left: -50px;
    content: "";
    display: block;
    border-left: 2px solid #098DDF;
    border-bottom: 2px solid #098DDF;
    height: 10px;
    width: 10px;
    transform: rotate(45deg) translate(0,-50%);
}
.container .mainContent .about .icon{
	margin-top: 15px;
    padding: 3px 10px;
    border: 1px solid rgba(196, 196, 196, 0.5);
    border-radius: 10px;
    font-size: 2.5em;
    color: #098DDF;
}
.container .mainContent .about h3{
	margin-top: 15px;
}
.container .mainContent .assignment{
	padding: 20px 25px 0 0;
    display: flex;
	flex-direction: column;
}
.container .mainContent .assignment.teacherAuth{
	padding: 20px 25px 0 0;
    display: flex;
	flex-direction: row;
}
.container .mainContent .assignment.teacherAuth .qna{
	width: 600px;
}
.container .mainContent .assignment .qna .created{
	margin-bottom: 10px;
    padding-left: 18px;
    display: flex;
    align-items: center;
}
.container .mainContent .assignment .qna .created h5{
	font-size: 12px;
    margin-right: 10px;
    color: #767676;
}
.container .mainContent .assignment .qna .created p{
	font-size: 12px;
    color: #999;
    font-weight: 500;
}
.container .mainContent .assignment .qna .quest{
	margin-bottom: 10px;
    padding: 0 10px 0 15px;
    border-left: 3px solid orange;
    font-size: 22px;
    font-weight: 600;
    white-space: pre-line;
    color: #434343;
}
.container .mainContent .assignment .qna .bottomSide{
	margin: 30px 0 0 20px;
	display: flex;
	padding-bottom: 20px;
	align-items: flex-end;
	justify-content: space-between;
}
.container .mainContent .assignment .qna .bottomSide .fileUpload{
	margin-top: 20px;
	position: relative;
	display: flex;
	align-items: center;
	height: 60px;
	width: 320px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
}
.container .mainContent .assignment .qna .bottomSide .fileUpload .icon{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 20%;
	color: #098DDF;
	font-size: 1.4em;
	border-right:1px solid #dcdcdc ;
	float: left;
}
.container .mainContent .assignment .qna .bottomSide .fileUpload .icon .img{
	height: 70%;
}
.container .mainContent .assignment .qna .bottomSide .fileUpload .fileName{
	height: 100%;
	width: 80%;
	padding: 10px;
}
.container .mainContent .assignment .qna .bottomSide .fileUpload .fileName h3{
	color: #3c4043;
	font-weight: 600;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}
.container .mainContent .assignment .qna .bottomSide .fileUpload .fileName h3:hover{
	color: #2986cc;
}
.container .mainContent .assignment .qna .bottomSide .fileUpload .fileName p{
	font-size: 0.94em;
	font-weight: 600;
	color: #5f6368;
}
.container .mainContent .assignment .qna .bottomSide .deadline{
	float: right;
	font-weight: 600;
	font-size: 13px;
	padding-left: 18px;
	color: #3c4043;
}
.container .mainContent .assignment .qna .bottomSide .btnAnsw:hover{
	background: #e77676;
}
.container .mainContent .assignment .answContainer{
	margin-left: 15px;
	padding: 0 15px 15px;
    width: 335px;
	min-height: 380px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 8px rgb(196 196 196 / 90%);
}
.container .mainContent .assignment .answContainer .aboutAnsw{
	width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
	color: #434343;
    border-bottom: 1px solid rgba(224, 224, 224, 0.8);
}
.container .mainContent .assignment .answContainer .answs{
	width: 100%;
    margin-top: 10px;
}
.container .mainContent .assignment .answContainer .answs .singleAnsw{
	padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border-radius: 10px;
    transition: all 0.4s ease;
    cursor: pointer;
}
.container .mainContent .assignment .answContainer .answs .singleAnsw:hover{
	box-shadow: 0 0 8px rgb(196 196 196 / 50%);
}
.container .mainContent .assignment .answContainer .answs .singleAnsw .detail{
	display: flex;
    align-items: center;
}
.container .mainContent .assignment .answContainer .answs .singleAnsw .detail .photo{
	margin-right: 10px;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    overflow: hidden;
}
.container .mainContent .assignment .answContainer .answs .singleAnsw .detail .status{
	width: 150px;
}
.container .mainContent .assignment .answContainer .answs .singleAnsw .detail .status h5{
	margin-bottom: 10px;
	color: #3c4043;
}
.container .mainContent .assignment .answContainer .answs .singleAnsw .detail .status p{
	font-size: 0.8em;
	color: #999;
}
.container .mainContent .answerContainer{
	padding: 0 25px;
	width: 850px;
}
.container .mainContent .answerContainer::after{
	content: "";
	display: block;
	clear: left;
}
.container .mainContent .answerContainer .exp{
	padding-top: 25px;
	font-weight: 600;
	border-top: 2px solid #098DDF;
}
.container .mainContent .answerContainer .exp span:first-child{
	color: #434343;
}
.container .mainContent .answerContainer .exp span:nth-child(2){
	color: #d50000;
}
.container .mainContent .answerContainer .answers{
	margin-top: 20px;
	width: 100%;
	padding: 20px 10px;
	display: grid;
	justify-content: start;
	grid-template-columns: auto auto auto auto;
	gap: 10px;
	border-top: 0.10rem solid rgba(224, 224, 224, 1);
	border-bottom: 0.06999rem solid rgba(224, 224, 224, 1);
}
.container .mainContent .answerContainer .answers .answer{
	width: 180px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.container .mainContent .answerContainer .answers .answer:hover{
    background: rgba(39, 131, 245, 0.1);
}
.container .mainContent .answerContainer .answers .answer svg{
	margin-right: 10px;
	font-size: 1.3em;
}
.container .mainContent .answerContainer .answers .answer .icon{
	margin-right: 10px;
	min-width: 17px;
	height: 17px;
	text-align: center;
	color: #fff;
	line-height: 17px;
	font-size: 0.9em;
	font-weight: 700;
	border-radius: 2px;
}
.container .mainContent .answerContainer .answers .answer .icon.docx{
	background: #098DDF;
}
.container .mainContent .answerContainer .answers .answer .icon.doc{
	background: #098DDF;
}
.container .mainContent .answerContainer .answers .answer .icon.pdf{
	background: #ff5858;
}
.container .mainContent .answerContainer .answers .answer span{
	font-size: 0.99em;
	font-weight: 600;
	color: #434343;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.container .mainContent .answerContainer .answers .noAnsw{
	margin: auto;
	width: 100%;
	text-align: center;
	font-size: 12px;
}
.container .mainContent .answerContainer .addFile{
	margin-top: 20px;
	color: #434343;
}
.container .mainContent .answerContainer .addFile .title{
	margin-top: 30px;
	font-size: 13px;
	font-weight: 500;
	color: #434343;
}
.container .mainContent .answerContainer .addFile .input{
	margin-top: 30px;
	display: flex;
	align-items: center;
}
.container .mainContent .answerContainer .addFile .input .select{
	position: relative;
	margin-right: 30px;
	padding: 7px 13px;
	box-shadow: 0 0 3px #999;
	border-radius: 3px;
	cursor: pointer;
}
.container .mainContent .answerContainer .addFile .input .select:hover{
	background: rgba(217, 217, 217, 0.2);
}
.container .mainContent .answerContainer .addFile .input .select input{
	display: none;
}
.container .mainContent .answerContainer .addFile .input .select svg{
	margin-right: 10px;
	
}
.container .mainContent .answerContainer .addFile .input .select span{
	font-weight: 600;
	font-size: 0.89em;
}
.container .mainContent .answerContainer .addFile .input .answer{
	margin-right: 10px;
	border-radius: 3px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.container .mainContent .answerContainer .addFile .input .answer .icon{
	margin-right: 10px;
	min-width: 17px;
	height: 17px;
	text-align: center;
	color: #fff;
	line-height: 17px;
	font-size: 0.9em;
	font-weight: 700;
	border-radius: 2px;
}
.container .mainContent .answerContainer .addFile .icon.docx, .addFile .icon.doc{
	background: #098DDF;
}
.container .mainContent .answerContainer .addFile .input .answer .icon.pdf{
	background: #ff5858;
}
.container .mainContent .answerContainer .addFile .input .answer span{
	width: 150px;
	font-size: 0.99em;
	font-weight: 600;
	color: #434343;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.container .mainContent .answerContainer .addFile .input .delete{
	height: 19px;
	width: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
}
.container .mainContent .answerContainer .addFile .input .delete:hover{
	background: rgba(218, 218, 218, 0.6);
}
.container .mainContent .answerContainer .addFile .input .delete svg{
	transform: rotate(45deg);
	font-size: 1.1em;
}
.container .mainContent .answerContainer .addFile .input .delete:hover{
}
.container .mainContent .answerContainer .submit{
	margin-top: 30px;
	float: left;
	padding: 7px 13px;
	text-align: center;
	background: #0e77b9;
	color: #fff;
	font-weight: 600;
	border-radius: 3px;
	cursor: pointer;
}
.container .mainContent .answerContainer .submit.disabled{
	background: rgba(0,0,0,.12);
	color: rgba(0,0,0,.38);
}
    