.container{
	position: relative;
    padding: 0 110px;
    background: #eee;
    min-height: calc(100vh - 65px);
}
.container .mainContent{
	min-height: calc(100vh - 65px);
    background: #fff;
}
.container .mainContent .about{
	padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(224, 224, 224, 0.8);
}
.container .mainContent .about .className{
	position: relative;
}
.container .mainContent .about .className a{
	text-decoration: none;
    font-weight: 600;
    color: #737373;
}
.container .mainContent .about .className a:before{
	position: absolute;
    top: 50%;
    left: -50px;
    content: "";
    display: block;
    border-left: 2px solid #098DDF;
    border-bottom: 2px solid #098DDF;
    height: 10px;
    width: 10px;
    transform: rotate(45deg) translate(0,-50%);
}
.container .mainContent .about .icon{
	margin-top: 15px;
    padding: 3px 10px;
    border: 1px solid rgba(196, 196, 196, 0.5);
    border-radius: 10px;
    font-size: 2.5em;
    color: #098DDF;
}
.container .mainContent .about h3{
	margin-top: 15px;
}
.container .mainContent .assignment{
	padding: 20px 20px 0 0;
    display: flex;
    justify-content: space-between;
}
.container .mainContent .assignment .qna{
	width: 760px;
}
.container .mainContent .assignment .qna .created{
	margin-bottom: 10px;
    padding-left: 18px;
    display: flex;
    align-items: center;
}
.container .mainContent .assignment .qna .created h5{
	font-size: 12px;
    margin-right: 10px;
    color: #767676;
}
.container .mainContent .assignment .qna .created p{
	font-size: 12px;
    color: #999;
    font-weight: 500;
}
.container .mainContent .assignment .qna .quest{
	margin-bottom: 10px;
    padding: 0 10px 0 15px;
    border-left: 3px solid orange;
    font-size: 22px;
    font-weight: 600;
    white-space: pre-line;
    color: #434343;
}
.container .mainContent .assignment .qna .bottomSide{
	margin: 30px 0 0 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .mainContent .assignment .qna .bottomSide .attachment{
    display: flex;
    align-items: center;
}
.container .mainContent .assignment .qna .bottomSide .attachment .download{
	margin-right: 10px;
    padding: 4px 10px;
    color: #000;
    border: 2px solid #000;
    font-weight: 600;
    font-size: 0.95em;
    border-radius: 50px;
    cursor: pointer;
}
.container .mainContent .assignment .qna .bottomSide .attachment .download:hover{
	background: #000;
	color: #fff;
}
.container .mainContent .assignment .qna .bottomSide .deadline{
	float: right;
    font-size: 12px;
    padding-left: 18px;
    color: #999;
}
.container .mainContent .assignment .answContainer{
	padding: 0 15px 15px;
    width: 335px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 8px rgb(196 196 196 / 50%);
}
.container .mainContent .assignment .answContainer .aboutAnsw{
	width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.8);
}
.container .mainContent .assignment .answContainer .answs{
	width: 100%;
    margin-top: 10px;
}
.container .mainContent .assignment .answContainer .answs .singleAnsw{
	padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border-radius: 10px;
    transition: all 0.4s ease;
    cursor: pointer;
}
.container .mainContent .assignment .answContainer .answs .singleAnsw:hover{
	box-shadow: 0 0 8px rgb(196 196 196 / 50%);
}
.container .mainContent .assignment .answContainer .answs .singleAnsw .detail{
	display: flex;
    align-items: center;
}
.container .mainContent .assignment .answContainer .answs .singleAnsw .detail .photo{
	margin-right: 10px;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    overflow: hidden;
}
.container .mainContent .assignment .answContainer .answs .singleAnsw .detail .status{
	width: 150px;
}
.container .mainContent .assignment .answContainer .answs .singleAnsw .detail .status h5{
	margin-bottom: 10px;
}
.container .mainContent .assignment .answContainer .answs .singleAnsw .detail .status p{
	font-size: 0.88em;
}
.container .mainContent .assignment .answContainer .answs .singleAnsw .score{
	height: 30px;
    width: 50px;
    background: #026fb2;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #fff;
}
    