.container{
	position: relative;
	width:480px;
	height: 100%;
	max-height: 33rem;
	border-radius: 5px;
	background: #fff;
	/* overflow-y: auto; */
	--border-to-content: 1.2rem;
	padding-bottom: 3.5rem;
}
.container h2{
	font-size: 1.3rem;
	padding: 0 var(--border-to-content);
	color:#616161;
	height: 2em;
	/* background: red; */
	display: flex;
	align-items: center;
}
.menu{
	font-size: 1rem;
	height: 1.4rem;
	padding: 0 var(--border-to-content);
	display: flex;
	align-items: center;
	list-style: none;
	border-bottom: 2px solid #000;
}
.menu li{
	margin-right: 1.9em;
	height: 100%;
	display: flex;
	align-items: center;
	margin-top: 4px;
	border-bottom: 2px solid transparent;
	font-size:0.95em;
	font-weight: 600;
	color:#616161;
	cursor: pointer;
}
.menu li.active{
	color: #098DDF;
	font-weight: 700;
	border-bottom: 2px solid #098DDF;
}
.menu li:hover{
	color: #098DDF;
	font-weight: 700;
	border-bottom: 2px solid #098DDF;
}
.form{
	overflow-y: auto;
	padding: 1.2rem var(--border-to-content);
	height: calc(100% - 5rem);
}
.form .hiding{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form .hiding.hiden{
	display: none;
}
.form input.input, .form div.input .contentEditable{
	font-size: 0.9rem;
	width: 100%;
	padding: 10px;
	font-weight:600;
	font-family: 'Open Sans', Arial;
	border-radius: 5px;
	outline: none;
	border: 2px solid #5b5b5b;
}
.form input.input:focus, .form div.input .contentEditable:focus{
	border:2px solid #098DDF ;
}
.form .input::placeholder, .form div.input span.placeholder{
	color: #b4b4b4;
	font-size: 0.8rem;
	font-weight: 500;
}
.form .input.error{
	border:2px solid #cc3300;
}
.form div.input{
	position: relative;
}
.form div.input .contentEditable{
	min-height: 4rem;
}
.form div.input .contentEditable:empty ~ span.placeholder{
	display:initial;
}
.form div.input span.placeholder{
	display: none;
	position: absolute;
	left: 12px;
	top: 10px;
	color: #b4b4b4;
	pointer-events: none;
}
.form .inputColor p{
	font-size: 0.95rem;
	font-weight: 700;
	color: #393939;
}
.form .inputColor .colorLists{
	margin-top: 10px;
}
.form .inputColor .colorLists{
	display: flex;
	flex-wrap: wrap;
}
.form .inputColor .colorLists input{
	display: none;
}
.form .inputColor .colorLists .color{
	position: relative;
	margin: 0 5px 5px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	cursor: pointer;
}
.form .inputColor .colorLists input:checked + .color{
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.form .inputColor .colorLists .color p{
	display: none;
	color: #fff;
}
.form .inputColor .colorLists input:checked + .color p{
	display: initial;
}
.form .des{	
	color: #098DDF;
	font-weight: 600;
	font-size: 12px;
}
.form .scheduleRelative{
	position: relative;
}
.form .scheduleScroll{
	padding: 0 2rem 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.form .scheduleScroll .addTime{
	position: absolute;
	right: 0px;
	bottom: 0;
	padding: 3px 3px;
	color: #fff;
	background: #098DDF;
	border-radius: 50%;
	box-shadow: 0 0 3px #bcbcbc;
	cursor: pointer;
}
.form .scheduleScroll .addTime:hover{
	background: blue;
}
.form .btnContainer{
	font-size: 0.9em;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	height: 3.5rem;
	padding-right: var(--border-to-content);
	background: #fff;
	border-top: 1px solid #e4e4e4;
}
.form .btnContainer .btn{
	font-size: 0.95em;
	margin-left: 1em;
	padding: 0.5em 1.3em;
	border-radius: 3px;
	border: none;
	background: #098DDF;
	color: #fff;
	font-weight: 600;
	box-shadow: 0 2px 8px #bcbcbc;
	cursor: pointer;
	transition: var(--main-transition);
}
.form .btnContainer .btn:first-child{
	box-shadow: none;
	background: none;
	color: #8a8a8a;
}
.form .btnContainer .btn:first-child:hover{
	background: rgba(232, 232, 232, 0.3);
}
.form .btnContainer .btn:disabled{
	background:#9fc5e8;
}

@media only screen and (min-width: 600px) {
	.container h2{
		font-size: 1.5rem;
	}
	.container .menu{	
		height: 1.8rem;
	}
	.container{
		--border-to-content: 1.875rem;
	}
	.form{
		padding: 30px var(--border-to-content);
	}
	.form .scheduleScroll .addTime{
		padding: 4px 4px;
	}
	.form .inputColor p{
		font-size: 1rem;
	}
	.form .btnContainer{
		font-size: 1rem;
	}
}