.addMatter{
	position: fixed;
	top: 0;
	right: -710px;
	bottom: 0;
	width: 700px;
	height: 100vh;
	overflow-y: auto;
	z-index: 101;
	background: #fff;
	box-shadow:-1px 0 15px rgba(210, 210, 210, 0.8);
	transition: all 0.8s ease ;
}
.addMatter.open{
	right: 0;
}
.addMatter .header{
	position: sticky;
	top: 0;
	background: #fff;
	height: 70px;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #bcbcbc;
	z-index: 1;
}
.addMatter .header .left {
	display: flex;
	align-items: center;
}
.addMatter .header .left svg{
	margin-right: 10px;
	font-size: 2em;
	color: #098DDF;
}
.addMatter .header .left h2{
	font-weight: 600;
	color: #434343;
}
.addMatter .header .right{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
}
.addMatter .header .right:hover{
	background: rgba(222, 222, 222, 0.5);
}
.addMatter .header .right svg{
	color: #434343;
	transform: rotate(45deg);
	font-size: 1.6em;
	font-weight: normal;
}
.addMatter .formContainer {
	position: relative;
	background: #fff;
	min-height: calc(100vh - 70px);
	padding: 20px 50px 70px;
}
.form .input:first-child ~ div{
	margin-top: 20px;
}
.form input.input, .form div.input [contenteditable="true"]{
	padding: 15px;
	width: 100%;
	border: none;
	outline: none;
	border-radius: 3px;
	background: rgba(217, 217, 217, 0.3);
	color: #434343;
	font-size: 14px;
	font-weight: 500;
	border-bottom: 1px solid #999;
}
.form input.input:focus, .form div.input [contenteditable="true"]:focus{
	padding: 15px 15px 14px;
	border-bottom: 2px solid #098DDF;
}
.form div.input{
	position: relative;
}
.form input.input::placeholder{
	font-weight: 500;
	font-size: 15px;
	color: #969494;
}
.form div.input span{
	display: none;
	position: absolute;
	left: 15px;
	top: 15px;
	font-weight: 500;
	font-size: 15px;
	color: #969494;
	pointer-events: none;
}
.form div.input [contenteditable="true"]{
	min-height: 120px;
}
.form div.input [contenteditable="true"]:empty ~ span{
	display: initial;
}
.form .inputDateContainer h4{
	margin-left: 10px;
	color: #5f6368;
}
.form .inputDateContainer .dateOfLink{
	position: relative;
	margin-top: 10px;
	width: 350px;
	padding: 12px 15px;
	background: rgba(39, 161, 245, 0.1);
	border-radius: 3px;
	/* border: 2px solid rgba(39, 161, 245, 0.5);  */
}
.form .inputDateContainer .dateOfLink .dateOfLinkText{
	color: #01518e;
	font-weight: 600;
}
.form .inputDateContainer .dateOfLink .cancel{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0, -50%);
	display: flex;
	justify-content: center;
	align-items:center;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	cursor: pointer;
}
.form .inputDateContainer .dateOfLink .cancel:hover{
	background: rgba(203, 203, 203, 0.2);
}
.form .inputDateContainer .dateOfLink .cancel svg{
	font-size: 1.2em;
	transform: rotate(45deg);
}
.form .inputDateContainer .inputDate{
	position: relative;
	margin-top: 10px;
}
.form .inputDateContainer .inputDate .setOption{
	position: relative;
	width: 350px;
	padding: 12px 15px;
	border-radius: 3px;
	background: rgba(217, 217, 217, 0.3);
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}
.form .inputDateContainer .inputDate .setOption:hover{
	background: rgba(217, 217, 217, 0.6);
}
.form .inputDateContainer .inputDate .setOption.disabled:hover{
	background: rgba(217, 217, 217, 0.3);
}
.form .inputDateContainer .inputDate .value{
	color: #5f6368;
	font-weight: 500;
}
.form .inputDateContainer .inputDate .setOption span{
	pointer-events: none;
}
.form .inputDateContainer .inputDate .setOption span:after{
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0, -50%);
	display: table;
	content: "";
	border-top: 5px solid #5f6368;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.form .inputDateContainer .inputDate .opt{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	padding-bottom: 20px;
	border-radius: 3px;
	box-shadow: 0 0 7px #999;
	background: #fff;
	z-index: 2;
}
.form .inputDateContainer .inputDate .opt .desc{
	color: #5f6368;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #ededed;
}
.form .inputDateContainer .inputDate .opt .formOpt{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form .inputDateContainer .inputDate .opt .formOpt .date{
	position: relative;
	height: 45px;
	width: 220px;
}
.form .inputDateContainer .inputDate .opt .formOpt .time{
	position: relative;
	margin-top: 20px;
	height: 45px;
	width: 220px;
}
.form .inputDateContainer .inputDate .opt .formOpt .time.hidden{
	display: none;
}
.form .inputDateContainer .inputDate .opt .formOpt .date svg,
.form .inputDateContainer .inputDate .opt .formOpt .time svg
{
	color: #5f6368;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 10px;
	font-size: 1.2em;
	z-index: 2;
}
.form .inputDateContainer .inputDate .opt .formOpt .time .content,
.form .inputDateContainer .inputDate .opt .formOpt .date .content
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #eee;
	font-size: 13px;
	font-weight: 500;
	color: #5f6368;
	cursor: pointer;
	text-align: center;
	line-height: 45px;
	z-index: 1;
	pointer-events: none; 
}
.form .inputDateContainer .inputDate .opt .formOpt .time .content:after,
.form .inputDateContainer .inputDate .opt .formOpt .date .content:after
{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 10px;
	content: "";
	display: table;
	border-top: 5px solid #5f6368;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.form .inputDateContainer .inputDate .opt .formOpt .date input,
.form .inputDateContainer .inputDate .opt .formOpt .time input
{
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 5px;
}
.form .fileUpload{
	position: relative;
	display: flex;
	align-items: center;
	height: 50px;
	width: 100%;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
}
.form .fileUpload.error{
	border: 1px solid #d40027;
}
.form .fileUpload .icon{
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	height: 100%;
	color: #098DDF;
	font-size: 1.4em;
	border-right:1px solid #dcdcdc ;
	float: left;
}
.form .fileUpload .icon .img{
	height: 70%;
	width: 100%;
}
.form .fileUpload .fileName{
	max-width: 430px;
}
.form .fileUpload .fileName span{
	color: #5f6368;
	font-weight: 500;
}
.form .fileUpload .removeFile{
	position: absolute;
	right: 10px;
	height: 37px;
	width: 37px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
}
.form .fileUpload .removeFile:hover{
	background: rgba(249, 249, 249, 1);
	cursor: pointer;
}
.form .fileUpload .removeFile svg{
	font-size: 1.4em;
	transform: rotate(45deg);
	color: #5f6368;
}
.form div.inputFile{
	position: relative;
	height: 40px;
	width: 120px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	overflow: hidden;
}
.form div.inputFile:hover .icon{
	background: #f3faff;
}
.form .inputFile .icon{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 40px;
	z-index: 1;
	background: #fff;
	pointer-events: none;
}
.form .inputFile .icon svg{
	margin-right: 10px;
	font-size: 1.2em;
	color: #098DDF;
}
.form .inputFile .icon span{
	font-weight: 600;
	color: #5f6368;
}
.form .inputFile input{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	padding: 5px 15px;
	color: #098DDF;
	border: 1px solid #bcbcbc;
}
.form .fileInfo{
	margin-top: 10px;
	color: #5b5b5b;
	font-weight: 600;
	font-size: 0.8em;
}
.form .btn{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 43px;
	width: 100%;
	border: none;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	background-color: #3280c5;
	cursor: pointer;
}
.form .btn:disabled{
	background: #c7c7c7;
	color: #5f6368;
}
.form .btn:disabled:hover{
	background: #c7c7c7;
}
.form .btn:hover{
	background-color: #60a8e7;
}