@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
.container{
	height: 100vh;
	padding:10px 100px;
	background-size:47%;
	background-repeat:no-repeat;
	background-position: 40% 10%;
	font-family: 'Open Sans', Arial;
}
.header{
	height:10%;
}
.content{
	padding-top:80px;
}
