
.container{
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.desc .header, .auth .header{
	height: 4rem;
}
.desc{
	width:82.031%;
	margin-bottom: 2rem;
}
.desc:after{
	position: absolute;
	left: 0;
	right: 0;
	content: "";
	border-bottom: 1px solid #F2F2F2;
}
.desc .header{
	display: flex;
	align-items: center;
}
.desc .header .title{
}
.desc .content{
	position: relative;
	height: 30rem; 
}
.desc .content .backgroundImage{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-size: auto 90%;
	background-repeat:no-repeat;
	background-position: center center;
	opacity: 0.3;
}
.desc .content .text{
	position: absolute;
	left: 0;
	top: 20%;
	width: 330px;
	max-width: 100%;
	font-size:0.9rem;
}
.desc .content .text h1{
	font-size:2rem;
}
.desc .content .text h3{
	margin-top:1rem;
	color:#7a7a7a;
}
.auth{
	width: 72.453%;
	padding-bottom: 3rem;
}
.auth .header{
	background-color:#fff;
	display:flex;
	justify-content:center;
	align-items:center;
	font-family:Verdana, Arial;
	list-style:none;
}
.auth .header .login, .signup{
	position:relative;
	width: 6rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	border-radius:1rem;
	font-weight:bold;
	font-size:0.9rem;
	text-decoration:none;
	cursor:pointer;
}
.auth .header .login{
	margin-right: 1rem;
	background-color:#098DDF;
	color:#fff;
	box-shadow:0px 1px 3px 0px rgba(124, 136, 253, 0.5);
}
.auth .header .login:hover{
	background-color:#fff;
	border:solid 0.1rem #098DDF;
	color:#2e2e2e;
}
.auth .header .login.active{
	background-color:#fff;
	border:solid 0.1rem var(--primary-color);
	color:#2e2e2e;
}
.auth .header .signup{
	background-color:#fff;
	color:#2e2e2e;
}
.auth .header .signup:hover{
	color: var(--primary-color);
}
.auth .header .signup.active{
	color:#098DDF;
}
.auth .header .signup.active::after{
	position:absolute;
	left:37%;
	bottom:-2px;
	display:block;
	content:'';
	height:3px;
	width:1.5rem;
	border-radius:8px;
	background-color:#098DDF;
}
.auth .content{
	padding-top: 2rem;
	
}
@media only screen and (min-width: 530px) {
	.desc .content .backgroundImage{
		background-size: auto 100%;
	background-position: right top;
	}
	.desc .content .text{
		top: 30%;
	}
	.auth{
		width: 384px;
	}
}

/* @media only screen and (min-width: 600px) { */
/* } */
@media only screen and (min-width: 768px) {
	.desc{
		width: 630px;
	}
	.desc .content .backgroundImage{
		opacity: 1;
	}
}
@media only screen and (min-width: 900px) {
	.container{
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}
	.desc{
		width: 63%;
	}
	.desc:after{
		display: none;
	}
	.desc .content .backgroundImage{
		background-position: 90% top;
	}
	.auth{
		width: 28%;
	}
}
/* @media only screen and (min-width: 992px) { */
	
	/* .desc{ */
		/* width: 63%; */
	/* } */
	/* .auth{ */
		/* width: 28%; */
	/* } */
	
/* } */

@media only screen and (min-width: 1040px) {
	
	.desc{
		width: 660px;
	}
	.desc .content .text{
		width: 50%;
	}
	.auth{
		width: 300px;
	}
	
}

@media only screen and (min-width: 1200px) {
	.desc{
		width:55%;
	}
	.auth{
		width: 25%;
	}
}

@media only screen and (min-width: 1400px){
	
	.auth{
		width: 350px;
	}
}
