@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
/*font-family: 'Fira Code', monospace;*/
.container{
	font-family: 'Open Sans', sans-serif;
	padding-top: 3.75em;
	font-size: 0.8rem;
}
.container > *{
	margin: auto;
}
.img{
	width: 12.5em;
}
.title{
	margin-top: 0.9375em;
	font-size: 1.5em;
	text-align: center;
	color: #949494;
}
.title span{
	color: #2986cc;
	font-size: 2em;
}
.info{
	margin-top: 0.9375em;
	color: #393939;
	width: 16.625em;
	text-align: center;
	line-height: 1.5;
}
.btn{
	margin-top: 1.25em;
	padding: 0.5em 0;
	background: #2986cc;
	text-decoration: none;
	text-align: center;
	display: block;
	width: 3.75em;
	color: #fff;
	font-weight: 600;
	transition: 0.1s;
}
.btn:hover{
	background: #4595d2;
}
@media only screen and (min-width: 600px) {
	.container{
		font-size: 1rem;
	}
	
}