.wrapper{
	width: 100%;
}
.wrapper th{
	border-radius: 9px 9px 0 0;
	font-size: 1rem;
	padding: 0.5rem 0.9rem 0;
	font-weight: 600;
}
.wrapper th.active{
	background: var(--primary-color);
	color: #fff;
}