.inputDate{
	position: relative;
	margin-top: 10px;
}
.inputDate .setOption{
	position: relative;
	width: 350px;
	padding: 12px 15px;
	border-radius: 3px;
	background: rgba(217, 217, 217, 0.3);
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}
.inputDate .setOption:hover{
	background: rgba(217, 217, 217, 0.6);
}
.inputDate .setOption.disabled:hover{
	background: rgba(217, 217, 217, 0.3);
}
.inputDate .value{
	color: #5f6368;
	font-weight: 500;
}
.inputDate .setOption span{
	pointer-events: none;
}
.inputDate .setOption span:after{
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0, -50%);
	display: table;
	content: "";
	border-top: 5px solid #5f6368;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.inputDate .opt{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 270px;
	padding-bottom: 20px;
	border-radius: 3px;
	box-shadow: 0 0 7px #999;
	background: #fff;
	z-index: 2;
}
.inputDate .opt .desc{
	color: #5f6368;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-bottom: 1px solid #ededed;
}
.inputDate .opt .formOpt{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.inputDate .opt .formOpt .date{
	position: relative;
	height: 45px;
	width: 220px;
}
.inputDate .opt .formOpt .time{
	position: relative;
	margin-top: 20px;
	height: 45px;
	width: 220px;
}
.inputDate .opt .formOpt .time.hidden{
	display: none;
}
.inputDate .opt .formOpt .date svg,
.inputDate .opt .formOpt .time svg
{
	color: #5f6368;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 10px;
	font-size: 1.2em;
	z-index: 2;
}
.inputDate .opt .formOpt .time .content,
.inputDate .opt .formOpt .date .content
{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #eee;
	font-size: 13px;
	font-weight: 500;
	color: #5f6368;
	cursor: pointer;
	text-align: center;
	line-height: 45px;
	z-index: 1;
	pointer-events: none; 
}
.inputDate .opt .formOpt .time .content:after,
.inputDate .opt .formOpt .date .content:after
{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	right: 10px;
	content: "";
	display: table;
	border-top: 5px solid #5f6368;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.inputDate .opt .formOpt .date input,
.inputDate .opt .formOpt .time input
{
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	right: 5px;
}