.container{
	/* background: green; */
	/* height: 100%; */
	width: 100%;
}
.header{
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header .detail .name{
	color: var(--primary-font-color);
	font-weight: 600;
}
.header .detail .total{
	font-size: 0.7rem;
	font-weight: 600;
	color: #999;
}
.header .listIcon{
	padding: 0 0.2rem;
	border-radius: 3px;
	font-size: 1.3rem;
	color:  var(--primary-font-color);
	transition: all 0.4s ease;
}
.header .listIcon:hover{
	background: rgba(60, 64, 67, 0.05);
}
.answer{
	padding: 1rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(224, 224, 224, 0.8);
	/* justify-content: space-between; */
}
.answer:hover{
	cursor: pointer;
}
.answer .icon{
	background: rgba(250, 22, 22, 0.2);
	border-radius: 2px;
	width: 1.8rem;
	text-align: center;
	font-size: 1.5rem;
}
.answer .icon.pdf{
	background: rgba(250, 22, 22, 0.2);
}
.answer .icon.doc, .answer .icon.docx{
	background: rgba(9, 141, 223, 0.2);
}
.answer .icon.pdf svg{
	color: rgba(250, 22, 22, 1);
}
.answer .icon.doc svg, .answer .icon.docx svg{
	color: rgba(9, 141, 223, 1);
}
.answer .detail{
	width: calc( 100% - 2.2rem);
	color: var(--primary-font-color);
}
.answer .detail .name{
	font-size: 0.9rem;
	font-weight: 600;
	margin-bottom: 0.2rem;
	cursor: pointer;white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.answer:hover .detail .name{
	color: var(--primary-color);
}
.answer .detail .size{
	font-size: 0.6rem;
	color: rgba(144, 144, 144, 1);
	font-weight: 500;
}
