.container{
	padding: 20px 50px 0 30px;
	height: 100%;
	width: 100%;
}
.container .created {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.container .created h5{
	font-size: 13px;
	margin-right: 10px;
	color: #767676;
}
.container .created p{
	font-size: 13px;
	color: #999;
	font-weight: 500;
}

.container .quest{
	margin: 20px 0;
	display: flex;
	font-size: 22px;
	font-weight: 600;
	color: #434343;
}
.container .quest .questIcon{
	margin-right: 10px;
	min-width: 40px;
    height: 40px;
    border-radius: 50%;
	background: rgba(39, 131, 245, 0.4);
    text-align: center;
    line-height: 37px;
}
.container .quest p{
	width: calc(100% - 50px);
	white-space: pre-line;
	word-break: break-all;
}
.container .bottomSide{
	margin-top: 30px;
	display: flex;
	padding-bottom: 20px;
	align-items: flex-end;
	justify-content: space-between;
	border-bottom: 2px solid #098DDF;
}
.container .bottomSide .fileUpload{
	margin-top: 20px;
	position: relative;
	display: flex;
	align-items: center;
	height: 60px;
	width: 320px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
}
.container .bottomSide .fileUpload .icon{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 20%;
	color: #098DDF;
	font-size: 1.4em;
	border-right:1px solid #dcdcdc ;
	float: left;
}
.container .bottomSide .fileUpload .icon .img{
	height: 70%;
}
.container .bottomSide .fileUpload .fileName{
	height: 100%;
	width: 80%;
	padding: 10px;
}
.container .bottomSide .fileUpload .fileName h3{
	color: #3c4043;
	font-weight: 600;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}
.container .bottomSide .fileUpload .fileName h3:hover{
	color: #2986cc;
}
.container .bottomSide .fileUpload .fileName p{
	font-size: 0.94em;
	font-weight: 600;
	color: #5f6368;
}
.container .bottomSide .deadline{
	float: right;
	font-weight: 600;
	font-size: 13px;
	padding-left: 18px;
	color: #3c4043;
}
.container .bottomSide .btnAnsw:hover{
	background: #e77676;
}
.container .answerContainer{
	margin-top: 20px;
	padding: 25px;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 0 4px rgba(184, 184, 184, 1);
}
.container .answerContainer::after{
	content: "";
	display: block;
	clear: left;
}
.container .answerContainer .exp{
	display: flex;
	justify-content: space-between; 
	font-weight: 600;
}
.container .answerContainer .exp span:first-child{
	color: #434343;
}
.container .answerContainer .exp span:nth-child(2){
	color: #d50000;
}
.container .answerContainer .exp span:nth-child(2).score{
	color: #434343;
}
.container .answerContainer .exp span:nth-child(2).score .num{
	color: green;
}
.container .answerContainer .answers{
	margin-top: 20px;
	width: 100%;
	padding: 20px 10px;
	display: grid;
	justify-content: start;
	grid-template-columns: auto auto auto auto;
	gap: 10px;
	border-top: 0.10rem solid rgba(224, 224, 224, 1);
	border-bottom: 0.06999rem solid rgba(224, 224, 224, 1);
}
.container .answerContainer .answers .answer{
	width: 180px;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.container .answerContainer .answers .answer:hover{
    background: rgba(39, 131, 245, 0.1);
}
.container .answerContainer .answers .answer .icon{
	margin-right: 10px;
	min-width: 17px;
	height: 17px;
	text-align: center;
	color: #fff;
	line-height: 17px;
	font-size: 0.9em;
	font-weight: 700;
	border-radius: 2px;
}
.container .answerContainer .answers .answer .icon.doc{
	background: #098DDF;
}
.container .answerContainer .answers .answer .icon.docx{
	background: #098DDF;
}
.container .answerContainer .answers .answer .icon.pdf{
	background: #ff5858;
}
.container .answerContainer .answers .answer span{
	font-size: 0.99em;
	font-weight: 600;
	color: #434343;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.container .answerContainer .commentContainer{
	margin-top: 10px;
}
.container .answerContainer .commentContainer{
	text-align: right;
	height: 18px;
}
.container .answerContainer .commentContainer .commentIcon{
	margin-right: 10px;
	font-size: 0.9em;
}
.container .answerContainer .commentContainer span{
	margin-right: 20px;
	font-weight: 600;
	font-size: 0.95em;
	color: #3c4043;
	cursor: pointer;
}
.container .answerContainer .commentContainer span:hover{
	color: #098DDF;
}
.container .answerContainer .commentContainer .comments{
	position: relative;
	height: 95%;
	width: 600px;
	border-radius: 10px;
	background: #fff;
}
.container .answerContainer .commentContainer .comments .desc{
	height: 60px; 
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #E0E0E0;
}
.container .answerContainer .commentContainer .comments .desc .main{
	text-align: left;
}
.container .answerContainer .commentContainer .comments .desc .main h4{
	font-size: 1.1em;
	color: #3c4043;
	font-weight: 600;
}
.container .answerContainer .commentContainer .comments .desc .main p{
	font-size: 0.8em;
	color: #3c4043;
}
.container .answerContainer .commentContainer .comments .desc .close{
	height: 35px;
	width: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	cursor: pointer;
}
.container .answerContainer .commentContainer .comments .desc .close:hover{
	background: #f1f2f4;
}
.container .answerContainer .commentContainer .comments .desc .close .closeIcon{
	font-size: 1.2em;
	transform: rotate(45deg);
}
.commentContainer .comments .singleCommentContainer{
	height: calc(100% - 60px);
	overflow-y: auto;
}
/*single comment start*/
.commentContainer .comments .singleCommentContainer .singleComment{
	margin: 20px 20px 0;
	display: flex;
	align-items: flex-start;
}
.commentContainer .comments .singleCommentContainer .singleComment .photo{
	margin-right: 10px;
	min-width: 36px;
	max-width: 36px;
	height: 36px;
	border-radius: 50%;
	overflow: hidden;
}
.commentContainer .comments .singleCommentContainer .singleComment .rightSide{
	text-align: left;
}
.commentContainer .comments .singleCommentContainer .singleComment .rightSide h5{
	font-size: 13px;
	color: #505050;
}
.commentContainer .comments .singleCommentContainer .singleComment .rightSide h5 span{
	margin-left: 5px;
	font-size: 0.9em;
	font-weight: 500;
	color: #999;
}
.commentContainer .comments .singleCommentContainer .singleComment .rightSide .text{
	width: 400px;
	font-size: 0.96em;
	font-weight: 500;
    word-break:break-all;
}
/*single start end*/
/*send start*/
.commentContainer .send{
	position: sticky;
	top: calc(100% - 40px);
	margin: 20px 0 10px 0;
	width: 100%;
}
.commentContainer .send form{
	margin: auto;
	position: relative;
	width: 95%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.commentContainer .send form [contenteditable="true"]{
	width: calc(100% - 50px);
	min-height: 35px;
	padding: 5px 5px 5px 10px;
	border: 2px solid #dfdfdf;
	border-radius: 4px 0 0 4px;
	overflow: hidden;
	background: #fff;
	text-align: left;
	/*white-space: pre-wrap;*/
}
.commentContainer .send form [contenteditable="true"]:focus{
	outline: none;
}
.commentContainer .send form [contenteditable="true"]:empty + .shadowText{
	display: initial;
}
.commentContainer .send form [contenteditable="true"]::placeholder{
	font-weight: 500;
	color: #999;
}
.commentContainer .send form .shadowText{
	display: none;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 10px;
	font-size: 13px;
	font-weight: 500;
	color: #505050;
	pointer-events: none;
}
.commentContainer .send form .icon{
	display: block;
	padding: 8px 5px;
	height: 35px;
	width: 50px;
	border-radius: 0 4px 4px 0;
	border: 2px solid #dfdfdf;
	border-left: none;
	text-align: center;
	font-size: 14px;
	background: rgba(196, 196, 196, 0.3);
	cursor: pointer;
}
.commentContainer .send form [disabled]{
	cursor: default;
}
/*send end*/
.container .answerContainer .addFile{
	color: #434343;
}
.container .answerContainer .addFile .title{
	font-size: 13px;
	font-weight: 500;
	color: #434343;
}
.container .answerContainer .addFile .input{
	margin-top: 20px;
	display: flex;
	align-items: center;
}
.container .answerContainer .addFile .input .select{
	position: relative;
	margin-right: 30px;
	padding: 7px 13px;
	box-shadow: 0 0 3px #999;
	border-radius: 3px;
	cursor: pointer;
}
.container .answerContainer .addFile .input .select:hover{
	background: rgba(217, 217, 217, 0.2);
}
.container .answerContainer .addFile .input .select input{
	display: none;
}
.container .answerContainer .addFile .input .select .selectIcon{
	margin-right: 10px;
	
}
.container .answerContainer .addFile .input .select span{
	font-weight: 600;
	font-size: 0.89em;
}
.container .answerContainer .addFile .input .answer{
	margin-right: 10px;
	border-radius: 3px;
	display: flex;
	align-items: center;
	cursor: pointer;
	border: 1px solid transparent;
}
.container .answerContainer .addFile .input .answer.error{
	border: 1px solid #d40027;
}
.container .answerContainer .addFile .input .answer .icon{
	margin-right: 10px;
	width: 17px;
	height: 17px;
	text-align: center;
	color: #fff;
	line-height: 17px;
	font-size: 0.9em;
	font-weight: 700;
	border-radius: 2px;
}
.container .answerContainer .addFile .input .answer .icon.doc{
	background: #098DDF;
}
.container .answerContainer .addFile .input .answer .icon.docx{
	background: #098DDF;
}
.container .answerContainer .addFile .input .answer .icon.pdf{
	background: #ff5858;
}
.container .answerContainer .addFile .input .answer span{
	width: 150px;
	font-size: 0.99em;
	font-weight: 600;
	color: #434343;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.container .answerContainer .addFile .input .delete{
	height: 19px;
	width: 19px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
}
.container .answerContainer .addFile .input .delete:hover{
	background: rgba(218, 218, 218, 0.6);
}
.container .answerContainer .addFile .input .delete .deleteIcon{
	transform: rotate(45deg);
	font-size: 1.1em;
}
.container .answerContainer .addFile .fileInfo{
	margin-top: 10px;
	color: #5b5b5b;
	font-weight: 600;
	font-size: 0.8em;
}
.container .answerContainer .submit{
	margin-top: 30px;
	float: left;
	padding: 7px 13px;
	text-align: center;
	background: #0e77b9;
	color: #fff;
	font-weight: 600;
	border-radius: 3px;
	cursor: pointer;
}
.container .answerContainer .submit.disabled{
	background: rgba(0,0,0,.12);
	color: rgba(0,0,0,.38);
}