.container{
	position: relative;
	font-size: 0.9rem;
	display: flex;
	align-items: flex-end;
	margin-top: 1.25rem;
}
.container .input{
	margin-right: 1em;
	height: 1.5625em;
	padding: 0 0.3125em 0.3125em;
	color: #404040;
	outline: none;
	border: none;
	border-bottom: 2px solid #616161;
}
.container .input.dropdown{
	min-width:7em;
}
.container input.input{
	font-size: 0.95em;
	min-width:6em;
}
.container .input.dropdown{
	position: relative;
}
.container .input.dropdown::after{
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 0.5em;
	content: "";
	border-right: 1px solid #616161;
	border-bottom: 1px solid #616161;
	padding:0.25em;
    transform: translate(0,30%) rotate(45deg);
}
.container .input.dropdown.active::after{
	border-right: 1px solid #098DDF;
	border-bottom: 1px solid #098DDF;
}
.container .input.dropdown.active{
	border-bottom: 2px solid #098DDF;
}
.container .input.dropdown .value{
	font-size: 0.95em;
	color: #b4b4b4;
}
.container .select{
	font-size: 0.9em;
	display: none;
	position: absolute;
	width: 8em;
	left: 0;
	top:1.5em;
	list-style: none;
	background: #fff;
	border: 1px solid #098DDF;
	box-shadow: 0 0 2px rgba(117, 117, 117, 0.8);
	z-index: 200;
}
.container .select li{
	width:100%;
	padding: 0.5em 1.25em;
	font-weight: 600;
	cursor: pointer;
}
.container .select li:hover{
	background: #098DDF;
	color: #fff;
}
.container .select li.active{
	background: rgba(194, 194, 194, 0.8);
	color: #fff;
}
.container .removeTime{
	padding: 0.25em 0.25em;
	color: #fff;
	background: #ff8781;
	border-radius: 3px;
	box-shadow: 0 0 3px #bcbcbc;
	cursor: pointer;
}
.container .removeTime:hover{
	background: red;
}
@media only screen and (min-width: 600px) {
	.container{
		font-size: 1rem;
	}
}