.container{
	width:100%;
	height:100%;
}
.container .form{
	width:100%;
}
.form .inputContainer{
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:flex-start;
	height:12rem;
}
.form .inputContainer .otherInput{
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content:space-between;
	align-items: flex-start;
}
.form .inputContainer .otherInput .checkbox{
	margin-bottom: 1rem;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.form .checkbox label{
	margin-left:0.7rem;
	font-weight:600;
	font-size:0.9rem;
	color:#898989;
}
.form .forget{
	text-decoration:none;
	font-weight:600;
	font-size:0.9rem;
	color:#898989;
}
.form .submitLogin{
	width:100%;
	padding:13px;
	margin-top:35px;
	font-weight:bolder;
	border-radius:8px;
	background-color: var(--primary-color);
	color:#fff;
	border:none;
	box-shadow:0px 1px 8px 2px rgba(124, 136, 253, 0.5);
	cursor:pointer;
}
.form .submitLogin:disabled{
	background-color:#78bae2;
	cursor: default;
}
p.info{
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-size: 0.9rem;
	text-align: center;
	color: #7a7a7a;
	font-weight: 600;
}
.oauthLogin{
	width: 100%;
	padding: 1.2rem;
	background: #eaeaea;
	border-radius: 0.5rem;
	
}
.oauthLogin a.loginContainer{
	height: 2.5rem;
	display: flex;
	justify-content:center;
	align-items: center;
	background: #fff;
	border-radius: 3px;
	text-decoration: none;
}
.oauthLogin .loginContainer .img{
	height: 90%;
	width: auto;
}
.oauthLogin .loginContainer span{
	margin-left: 0.4rem;
	font-weight: 600;
	color: #6b6b6b;
	line-height: 100%;
}

@media only screen and (min-width: 340px){
	.form .inputContainer{
		height: 10rem;
	}
	.form .inputContainer .otherInput{
		flex-direction: row;
		justify-content:space-between;
	}
	.form .inputContainer .otherInput .checkbox{
		margin-bottom: 0;
	}
}