@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
/*font-family: 'Fira Code', monospace;*/
.container{
	position: relative;
	display: flex;
	justify-content:space-between;
	font-family: 'Open Sans', sans-serif;
	
}
.container .hideSidebar{
	display:none;
	position:fixed;
	height:100vh;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:102;
}
.container .hideSidebar.active{
	display:block;
}
.container .right{
	width:100%;
	min-height:100vh;
	transition: all 0.4s ease;
}
.container .right .content{
	width:100%;
}