.container{
	height: 100%;
	width: 100%;
	padding: 20px 40px;
}
.container .singleAns{
	padding: 0 20px;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(39, 131, 245, 0.1);
	border-radius: 5px;
}
.container .singleAns .leftSide{
	display: flex;
	align-items: center;
}
.container .singleAns .leftSide .user{
	margin-right: 15px;
	width: 37px;
	height: 37px;
	min-height: 37px;
	border-radius: 50%;
	overflow: hidden;
}
.container .singleAns .leftSide .text{
	margin-right: 10px;
	width: 350px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.container .singleAns .leftSide .comments{
	display: flex;
	align-items: center;
}
.container .singleAns .leftSide .comments svg{
	margin-right: 5px;
}
.container .singleAns .rightSide{
	display: flex;
	justify-content: space-between;
	align-items: center;
}