@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
.container{
	padding:10px 170px 0;
	display: grid;
	grid-template-columns: 280px auto;
	gap: 10px;
}
.container .detail{
	grid-column: 1 / 3;
	position: relative;
	padding:20px 60px;
	height:200px;
	display:flex;
	justify-content: space-between;
	align-items:flex-start;
	border-radius: 10px;
}
.container .detail .title h1{
	font-family: 'Kanit', sans-serif;
	font-weight:500;
	font-size:40px;
	color: #fff;
	
}
.container .detail .title p{
	font-family: 'Kanit', sans-serif;
	color: #bcbcbc;
}
.container .detail .menu{
	position:absolute;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	left:60px;
	bottom:10px;
}
.container .detail .menu li{
	margin-right:30px;
	display:flex;
	flex-direction:column;
	align-items:center;
}
.detail .menu .icon{
	margin-bottom:5px;
	width:35px;
	height:35px;
	border-radius: 50%;
	background: #098DDF;
	text-align: center;
	line-height:35px;
	box-shadow:0px 2px 5px rgba(98, 98, 98, 0.8);
}
.detail .menu .icon.user{
	background: #fff;
	border: 2px solid #098DDF;
}
.detail .menu svg{
	color: #fff;
	font-size:18px;
}
.detail .menu .icon.user svg{
	color: #098DDF;
	font-size:18px;
}
.detail .menu a{
	text-decoration: none;
	color: #fff;
	text-align: center;
}
.detail .menu a:hover{
	text-shadow: 0 0 4px #fff;
}
.task{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.chatting{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgba(126, 200, 243, 0.15);
	min-height: 470px;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(162, 162, 162, 0.3);
}
.chatting .words{
	padding: 20px 20px 0;
	width: 100%;
}
.chatting .words::after{
	content: "";
	display: block;
	clear: both;
}
.chatting .words .chat1, .chatting .words .chat2{
	margin-bottom: 20px;
}
.chatting .words .chat1{
	display: flex;
	clear: right;
}
.chatting .words .chat1 .photo{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.chatting .words .chat1 .post{
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}
.chatting .words .chat1 .post .name{
	font-size: 11px;
	font-weight: 600;
	margin-bottom: 5px;
}
.chatting .words .chat1 .post .text{
	font-size: 0.78rem;
	font-weight:500;
	padding:15px;
	max-width:400px;
	border-radius: 0 15px 15px 15px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(162, 162, 162, 0.47);
}
.chatting .words .chat2{
	clear: right;
	float: right;
}
.chatting .words .chat2 .name{
	font-size: 11px;
	font-weight: 600;
	text-align: right;
}
.chatting .words .chat2 .text{
	margin-top: 5px;
	font-size: 0.78rem;
	font-weight:500;
	padding:15px;
	max-width:400px;
	border-radius: 15px 0 15px 15px;
	background: #555580;
	color: #fff;
	box-shadow: 0 1px 3px rgba(162, 162, 162, 0.47);
	word-break: break-all;
}
.chatting .words .sortDate{
	clear: right;
	text-align: center;
	
}
.chatting .words .sortDate.hidden{
	display: none;
}
.chatting .words .sortDate span{
	font-size: 11px;
	font-weight: 600;
	background: #fff;
	padding: 8px;
	border-radius: 8px;
	box-shadow: 0 0 1px rgba(187, 187, 187, 0.8);
	
}
.chatting .sender{
	margin-bottom: 5px;
	position: sticky;
	width: 680px;
	bottom: 5px;
	border-radius: 5px;
	box-shadow: 0 0 2px #999;
	background: #fff;
}
.chatting .sender form{
	position: relative;
	display: flex;
	width: 100%;
	padding:10px;
	align-items: flex-start;
	justify-content: space-between;
}
.chatting .sender .addFile{
	margin-right: 10px;
	color: #999;
	font-size: 24px;
}
.chatting .sender .customInput{
	width: 87%;
	padding:8px 13px;
	outline: none;
	border-radius:5px;
	border: 2px solid #e5e5e5;
}
.chatting .sender .placeHolder{
	display: none;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	left: 25px;
	color: #999;
	pointer-events: none;
}
.chatting .sender .customInput:empty + .placeHolder{
	display: initial;
}
.chatting .sender button{
	display: flex;
	width: 11%;
	align-items: center;
	margin-left: 10px;
	padding: 10px 13px;
	background: #098DDF;
	border-radius: 5px;
	color: #fff;
	border: none;
	cursor: pointer;
}
.chatting .sender button:hover{
	background: #58aadd;
}
.chatting .sender button span{
	margin-right: 5px;
}
