.container{
	font-size: 1rem;
	width: 11.25em;
	padding: 0.3125em 0.625em;
	/* border: 1px solid #ccc; */
	border-radius: 3px;
	display: flex;
	align-items: center;
	cursor: pointer;
	/* border: 1px solid transparent; */
}
.container:hover{
    background: rgba(39, 131, 245, 0.1);
}
.error{
	border: 1px solid #d40027;
}

.icon{
	margin-right: 0.625em;
	min-width: 1.2em;
	height: 1.2em;
	text-align: center;
	color: #fff;
	line-height: 1.2em;
	font-size: 0.9em;
	font-weight: 700;
	border-radius: 2px;
}
.doc{
	background: #098DDF;
}
.docx{
	background: #098DDF;
}
.pdf{
	background: #ff5858;
}
.name{
	font-size: 0.99em;
	font-weight: 600;
	color: #434343;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}