@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
.container{
	position: relative;
	padding:55px 210px 0;
	display: flex;
	min-height: calc(100vh - 65px);
	justify-content: space-between;
	align-items: flex-start;
	background: rgba(199, 217, 237, 0.3);
}
.container .previousLink{
	position: absolute;
	top: 15px;
}
.container .examContainer{
	padding: 20px 10px 50px;
	width: 100%;
	box-shadow:0 0 8px rgba(224, 224, 224, 0.8);
	border-radius: 5px;
	background: #fff;
}
.examContainer .top{
	padding-bottom: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid #c1d5e4;
}
.top .label{
	display: flex;
	align-items: center;
}
.top .label svg{
	margin-right: 10px;
	display: flex;
	align-items: center;
	color: #2986cc;
	font-size: 2.5em;
}
.top .label span{
	font-size: 1.2em;
	color: #393939;
	font-weight: 700;
}
.top .add{
	display: flex;
	align-items: center;
	padding: 3px 10px;
	border-radius: 10px;
	font-size: 0.94em;
	color: #2986cc;
	font-weight: 600;
	cursor: pointer;
}
.top .add:hover{
	background: #f1f2f4;
}
.top .add span:first-child{
	margin-right: 5px;
	font-size: 1.5em;
}
.examContainer .exams{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.examContainer .exams .singleExam{
	padding: 15px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #c1d5e4;
}
.exams .singleExam .answer{
	text-align: center;
	color: #50a22c;
}
.exams .singleExam .answer h2{
	font-weight: 600;
}
.exams .singleExam .answer p{
	font-size: 0.95em;
	font-weight: 500;
}
.exams .singleExam .quest{
	position: relative;
	width: 780px;
	padding-left: 55px;
}
.exams .singleExam .quest .icon{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	margin-right: 10px;
	background: #fff0e1;
	width: 38px;
	height: 38px;
	text-align: center;
	line-height: 39px;
	border-radius: 50%;
}
.exams .singleExam .quest .icon svg{
	color: #ffb971;
	font-size: 22px;
}
.exams .singleExam .quest a{
	text-decoration: none;
	font-weight: 600;
	font-size: 1.18em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #2986cc;
}
.exams .singleExam .quest a:hover{
	text-decoration: underline;
}
.exams .singleExam .quest .detail{
	margin-top: 5px;
	text-align: right;
	font-size: 0.85em;
	font-weight: 700;
	color: #bcbcbc;
}
.exams .singleExam .quest .detail span:last-child{
	margin-left: 20px;
}
.exams .singleExam .menu{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	font-size: 1.5em;
	cursor: pointer;
	color: #393939;
}
.exams .singleExam .menu:hover{
	background: rgba(231, 231, 231, 0.6);
}

