@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
.container{
	position: relative;
	padding:55px 0 0;
	min-height: calc(100vh - 65px);
	background: rgba(199, 217, 237, 0.3);
}
.container .previousLink{
	margin: auto;
	position: absolute;
	top: -39px;
	left: 0;
	font-size: 0.9rem;
}
.container .examContainer{
	position: relative;
	padding: 0 10px 50px;
	max-width: 950px;
	min-height: 500px;
	margin: auto;
	box-shadow:0 0 8px rgba(224, 224, 224, 0.8);
	border-radius: 5px;
	background: #fff;
}
.examContainer .top{
	padding: 0.9375rem 0.3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid #c1d5e4;
	font-size: 0.9rem;
}
.top .label{
	display: flex;
	align-items: center;
}
.top .label svg{
	margin-right: 0.3em;
	display: flex;
	align-items: center;
	color: #2986cc;
	font-size: 2.5em;
}
.top .label span{
	font-size: 1.2em;
	color: #393939;
	font-weight: 700;
}
.top .add{
	display: flex;
	align-items: center;
	padding: 0.1875em 0.625em ;
	border-radius: 10px;
	font-size: 0.94em;
	color: #2986cc;
	font-weight: 600;
	cursor: pointer;
}
.top .add:hover{
	background: #f1f2f4;
}
.top .add span:first-child{
	margin-right: 5px;
	font-size: 1.5em;
}
.examContainer .noDatas{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10rem;
}
.examContainer .noDatas .noDataIcon{
	width: 10rem;
}
.examContainer .noDatas .info{
	margin-top: 1rem;
	font-size: 0.9rem;
	font-weight: 500;
	color: var(--primary-font-color);
}
.examContainer .exams{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.examContainer .exams .singleExam{
	padding: 0.9375rem 0.625rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #c1d5e4;
}
.exams .singleExam .answer{
	font-size: 1rem;
	width: 3.8rem;
	text-align: center;
	color: #50a22c;
}
.exams .singleExam .answer h2{
	font-weight: 600;
	font-size: 1.5em;
}
.exams .singleExam .answer p{
	font-size: 0.95em;
	font-weight: 500;
}
.exams .singleExam .quest{
	position: relative;
	width: calc(100% - 8rem);
	padding-left: 0;
	display: flex;
	flex-direction: column;
}
.exams .singleExam .quest .icon{
	display: none;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	margin-right: 10px;
	background: #fff0e1;
	width: 2.375rem;
	height: 2.375rem;
	text-align: center;
	line-height: 2.375rem;
	border-radius: 50%;
}
.exams .singleExam .quest .icon svg{
	color: #ffb971;
	font-size: 1.375em;
}
.exams .singleExam .quest a{
	text-decoration: none;
	width: 100%;
}
.exams .singleExam .quest a p{
	font-weight: 600;
	font-size: 1.05rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #2986cc;
}
.exams .singleExam .quest a p:hover{
	text-decoration: underline;
}
.exams .singleExam .quest .detail{
	margin-top: 5px;
	text-align: right;
	font-size: 0.8rem;
	font-weight: 600;
	color: var(--primary-font-color);
	width: 100%;
}
.exams .singleExam .quest .detail span:last-child{
	margin-left: 20px;
}
.exams .singleExam .menu{
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	border-radius: 50%;
	text-align: center;
	font-size: 1.5rem;
	cursor: pointer;
	color: #393939;
}
.exams .singleExam .menu:hover{
	background: rgba(231, 231, 231, 0.6);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.container{
		padding:55px 30px 20px;
	}
	.container .previousLink{
		font-size: 1rem;
		top: -42px;
	}
	.examContainer .top{
		padding: 0.9375rem;	
		font-size: 1rem;
	}
	.exams .singleExam .quest{
		padding-left: 3.3rem;
	}
	.exams .singleExam .quest .icon{
		display: block
	}
}
