.container{
	height: 100vh;
	padding-top:50px;
	font-family: Arial, Helvetica, sans-serif;;
}
.container .webTitle{
	margin: auto;
	margin-bottom: 30px;
	width: 600px;
	display: flex;
	justify-content: center;
	
}
.container .content{
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	box-shadow: 0 0 15px rgba(216, 216, 216, 1);
	border-radius: 4px;
	padding: 40px 0;
}
.content .pageTitle{
	color: #098DDF;
	margin-bottom: 25px;
}
.content .note{
	margin-bottom: 25px;
}
.content .info, .content .error{
	width: 400px;
	padding: 10px;
	margin-bottom: 25px;
	line-height: 1.6;
	text-align: center;
}
.content .info{
	border: 1px solid #418bf9;
	color: #418bf9;
}
.content .error{
	border: 1px solid #f44336;
	color: #f44336;
}
.content form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content .inputContainer{
	position: relative;
	height: 40px;
	width: 270px;
	margin-bottom: 25px;
	border: 2px solid #cfcfcf;
	border-radius:3px;
	padding: 5px 10px;
}
.content .inputContainer input{
	font-weight: bold;
	height: 100%;
	width:100%;
	max-width: 100%;
	border: none;
	outline: none;
}
.content .inputContainer input::placeholder{
	color:#a9a9a9;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}
.content button{
	margin-bottom: 20px;
	height: 35px;
	width: 150px;
	font-size: 14px;
	font-weight: 600;
	background: #098DDF;
	border: none;
	color: #fff;
	border-radius: 3px;
	box-shadow: 2px 2px 2px rgba(115, 115, 115, 1);
	cursor: pointer;
	transition: 0.1s;
}
.content button:hover{
	background: #3ba5e7;
}
.content button:disabled{
	background: #3ba5e7;
	cursor: default;
}