.container{
	height: 100vh;
	padding-top:50px;
	font-family: Arial;
}
.container .webTitle{
	margin: auto;
	margin-bottom: 30px;
	width: 600px;
	display: flex;
	justify-content: center;
	
}
.container .content{
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 600px;
	box-shadow: 0 0 15px rgba(216, 216, 216, 1);
	border-radius: 4px;
	padding: 40px 0;
}
.content .pageTitle{
	color: #098DDF;
	margin-bottom: 25px;
}
.content .note{
	margin-bottom: 25px;
}
.content .inputContainer{
	position: relative;
	height: 70px;
	width: 250x;
	margin-bottom: 25px;
	border: 2px solid #bcbcbc;
	padding: 5px;
}
.content .inputContainer input{
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
}
.content .inputContainer span{
	display: none;
	position: absolute;
}
.content button{
	margin-bottom: 20px;
}