.container{
	background-color:#fff;
	width:100%;
	height:100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.auth{
	width:210px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	font-family:Verdana, Arial;
	list-style:none;
}
.login, .signup{
	position:relative;
	padding:7px 25px;
	border-radius:15px;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
	cursor:pointer;
}
.login{
	background-color:#098DDF;
	color:#fff;
	box-shadow:0px 1px 3px 0px rgba(124, 136, 253, 0.5);
}
.login:hover{
	background-color:#fff;
	border:solid 1px #098DDF;
	color:#2e2e2e;
}
.login.active{
	background-color:#fff;
	border:solid 1px var(--primary-color);
	color:#2e2e2e;
}
.signup{
	background-color:#fff;
	color:#2e2e2e;
}
.signup:hover{
	color: var(--primary-color);
}
.signup.active{
	color:#098DDF;
}
.signup.active::after{
	position:absolute;
	left:37%;
	bottom:-2px;
	display:block;
	content:'';
	height:3px;
	width:24px;
	border-radius:8px;
	background-color:#098DDF;
}