.container{
	height: 100%;
	width: 100%;
	padding: 20px 40px;
}
.container .errorAlert{
	position:absolute;
	bottom: 10px;
	width:300px;
	padding:10px 20px 10px 15px;
	display: none;
	justify-content: space-between;
	border-radius:3px;
	background-color:#FFCCBA;
	color:#454545;
	font-weight: 600;
	word-wrap:break-word;
	z-index: 100;
}
.container .errorAlert span:last-child{
	cursor: pointer;
}
.container .errorAlert.active{
	display: flex;
}
.container .singleAns{
	border-radius: 5px;
	overflow: hidden;
}
.container .singleAns.active{
	box-shadow: 0 1px 4px rgba(187, 187, 187, 0.9);
}
.container .singleAns .topSide{
	padding: 0 20px;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	z-index: 1;
}
.container .singleAns .topSide:hover{
	background: rgba(39, 131, 245, 0.1);
}
.container .singleAns.active .topSide{
	background: rgba(39, 131, 245, 0.1);
}
.container .singleAns .topSide .leftSide{
	display: flex;
	align-items: center;
}
.container .singleAns .topSide .leftSide .user{
	margin-right: 10px;
	width: 37px;
	height: 37px;
	min-height: 37px;
	border-radius: 50%;
	overflow: hidden;
}
.container .singleAns .topSide .leftSide .name{
	margin-right: 15px;
	font-size: 0.9em;
	font-weight: 500;
	color: #3c4043;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.container .singleAns .topSide .leftSide .comments{
	display: flex;
	align-items: center;
	color: #3c4043;
	font-weight: 500;
	line-height: 100%;
}
.container .singleAns .topSide .leftSide .comments svg{
	margin-right: 5px;
	font-weight: 600;
}
.container .singleAns .topSide .rightSide{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #767676;
}
.container .singleAns .topSide .rightSide .date{
	margin-right: 10px;
	font-size: 0.95em;
}
.container .singleAns .topSide .rightSide .menu{
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
}
.container .singleAns .topSide .rightSide .menu:hover{
	background: rgba(231, 231, 231, 0.6);
}
.container .singleAns .topSide .rightSide .menu svg{
	font-size: 1.3em;
	color: #3c4043;
}
.container .singleAns .detail{
	height: 0;
	width: 100%;
	background: #fff;
	box-shadow: 0 1px 4px rgba(187, 187, 187, 0.9);
	overflow: hidden;
	transition: all 0.4s ease;
}
.container .singleAns.active .detail{
	height: 120px;
}
.container .singleAns .detail .desc{
	height: 55%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #e0e0e0;
	font-weight: 600;
	font-size: 0.95em;
}
.container .singleAns .detail .desc .comment{
	margin: 20px;
	padding: 5px 15px;
	border-radius: 100px;
	color: #767676;
	cursor: pointer;
}
.container .singleAns .detail .desc .comment.none{
	font-weight: normal;
}
.container .singleAns .detail .desc .comment:hover{
	background: rgba(231, 231, 231, 0.3);
}
.container .singleAns .detail .desc .score{
	position: relative;
	display: flex;
	align-items: center;
	height: 100%;
	color: #767676;
	line-height: 100%;
	cursor: text;
}
.container .singleAns .detail .desc .score span:first-child{
	margin-left: 10px;
}
.container .singleAns .detail .desc .score input{
	margin-left: 5px;
	text-align: right;
	width: 22px;
	outline: none;
	border: none;
	font-weight: 600;
	font-size: 0.94em;
	color: #767676;
	pointer-events: none;
}
.container .singleAns .detail .desc .score input:focus{
	width: 30px;
	color: #000;
	font-size: 1.1em;
}
.container .singleAns .detail .desc .score span:nth-child(3) {
	margin-right: 10px;
	position: relative;
}
.container .singleAns .detail .desc .score input:focus + span:nth-child(3){
	font-size: 1.1em;
	color: #000;
}
.container .singleAns .detail .desc .score span:nth-child(3):after{
	position: absolute;
	right: 0;
	bottom: -8px;
	content: "";
	display: none;
	background: #098DDF;
	height: 2px;
	width:49px;
}
.container .singleAns .detail .desc .score input:focus + span:nth-child(3):after{
	display: block;
	width:60px;
}
.container .singleAns .detail .desc .score .width{
	width:0;
}
.container .singleAns .detail .desc .score .width.none{
	width:20px;
}
.container .singleAns .detail .desc .score .width:before{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	content: "";
	pointer-events: none;
	border: solid 1px transparent;
}
.container .singleAns .detail .desc .score:hover .width:before{
	border: solid 1px #9e9e9e;
	box-shadow: 0 0 2px #9e9e9e;
}
.container .singleAns .detail .desc .score input:focus ~ .width:before{
	border: solid 1px transparent;
	box-shadow: 0 0 2px transparent;
}
.container .singleAns .detail .desc .score .sendIcon, .container .singleAns .detail .desc .score .cancelIcon{
	font-size: 16px;
	text-align: center;
	height: 100%;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #5f6368;
	border: none;
	border-left: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	cursor: pointer;
}
.container .singleAns .detail .desc .score .sendIcon:hover{
	background: rgba(231, 231, 231, 0.4);
}
.container .singleAns .detail .desc .score .cancelIcon:hover{
	background: rgba(245, 39, 39, 0.3);
}
/*.container .singleAns .detail .desc .score input:focus + .{
	border-bottom: 2px solid #098DDF;
}*/
.container .singleAns .detail .ansNav{
	display: flex;
	align-items: center;
	height: 45%;
	padding-left: 20px;
}
.container .singleAns .detail .ansNav .nav{
	padding: 5px 10px;
	border-radius: 3px;
	color: rgb(25,103,210);
	font-weight: 700;
	font-size: 0.95em;
	cursor: pointer;
}
.container .singleAns .detail .ansNav .nav:hover{
	background: rgba(25,103,210, 0.05);
}