@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');
.container{
	position: relative;
	padding:0 110px;
	background: #eee;
	min-height: calc(100vh - 65px);
}
.container .mainContent{
	min-height: calc(100vh - 65px);
	background: #fff;
}
.mainContent .about{
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid rgba(224, 224, 224, 0.8);
}
.mainContent .about .className{
	position: relative;
}
.mainContent .about .className  a{
	text-decoration: none;
	font-weight: 600;
	color: #737373;
}
.mainContent .about .className  a::before{
	position: absolute;
	top: 50%;
	left: -50px;
	content: "";
	display: block;
	border-left: 2px solid #098DDF;
	border-bottom: 2px solid #098DDF;
	height: 10px;
	width: 10px;
	transform: rotate(45deg) translate(0,-50%);
}
.mainContent .about  .icon{
	margin-top: 15px;
	padding: 3px 10px;
	border: 1px solid rgba(196, 196, 196, 0.5);
	border-radius: 10px;
	font-size: 2.5em;
	color: #098DDF;
}
.mainContent .about  h3{
	margin-top: 15px;
}
.mainContent .exam {
	padding: 20px 20px 0 0;
	display: flex;
	justify-content: space-between;
}
.mainContent .exam .qna{
	width: 760px;
}
.mainContent .exam .qna .created {
	margin-bottom: 10px;
	padding-left: 18px;
	display: flex;
	align-items: center;
}
.mainContent .exam .qna .created h5{
	font-size: 12px;
	margin-right: 10px;
	color: #767676;
}
.mainContent .exam .qna .created p{
	font-size: 12px;
	color: #999;
	font-weight: 500;
}
.mainContent .exam .qna .quest{
	margin-bottom: 10px;
	padding: 0 10px 0 15px;
	border-left: 3px solid orange;
	font-size: 22px;
	font-weight: 600;
	white-space: pre-line;
	color: #434343;
}
.mainContent .exam .qna .deadline{
	font-size: 12px;
	padding-left: 18px;
	color: #999;
}
.mainContent .exam .qna .btnAnsw{
	margin: 30px 0 0 18px;
	padding: 7px 0;
	width: 120px;
	font-weight: 600;
	font-size: 13px;
	color: #fff;
	background: #ec4343;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
}
.mainContent .exam .qna .btnAnsw:hover{
	background: #e77676;
}
.mainContent .exam .answContainer{
	padding: 0 15px 15px;
	width: 335px;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 8px rgba(196, 196, 196, 0.5);
}
.answContainer .aboutAnsw{
	width: 100%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-bottom: 1px solid rgba(224, 224, 224, 0.8);
}
.answContainer .answs{
	width: 100%;
	margin-top: 10px;
}
.answContainer .answs .singleAnsw{
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90px;
	border-radius: 10px;
	transition: all 0.4s ease;
	cursor: pointer;
}
.answContainer .answs .singleAnsw:hover{
	box-shadow: 0 0 8px rgba(196, 196, 196, 1);
}
.singleAnsw .detail{
	display: flex;
	align-items: center;
}
.singleAnsw .detail .photo{
	margin-right: 10px;
	height: 45px;
	width: 45px;
	border-radius: 5px;
	overflow: hidden;
}
.singleAnsw .detail .status{
	width: 150px;
}
.singleAnsw .detail .status h5{
	font-size: 13px;
	font-weight: 600;
	color: #434343;
}
.singleAnsw .detail .status p{
	font-size: 11px;
	color: #999;
	font-weight: 500;
}
.singleAnsw .detail .status .comment{
	margin-top: 10px;
	padding-top: 5px;
	border-top: 1px solid rgba(224, 224, 224, 0.8);
	font-size: 12px;
	color: #434343;
	font-weight: 700;
}
.singleAnsw .detail .status .comment svg{
	margin-right: 10px;
	color: #434343;
	font-weight: 700;
}
.singleAnsw .detail .status .comment span{
	font-size: 12px;
	color: #434343;
	font-weight: 700;
}
.singleAnsw .score{
	height: 30px;
	width: 50px;
	background: #026fb2;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 600;
	line-height: 30px;
	text-align: center;
	color: #fff;
}
.singleAnsw .score.null{
	background: rgba(224, 224, 224, 0.8);
	color: #393939;
}
