.container{
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
	background: #f2f2f2;
}
.container .content{
	margin: auto;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 600px;
	height: 100%;
	box-shadow: 0 0 10px rgba(216, 216, 216, 0.5);
	padding: 40px 30px;
}
.content .webTitle{
	margin-bottom: 30px;
	width: 300px;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	border-bottom: 2px solid #e2e2e2;
}
.content .pageTitle{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 15px;
}
.content .email{
	color: #6e6e6e;
	margin-bottom: 25px;
	display: flex;
	justify-content: center;
}
.content .email svg{
	font-size: 18px;
	margin-right: 5px;
}
.content .info{
	width: 400px;
	padding: 10px;
	border: 1px solid #418bf9;
	color: #418bf9;
	margin-bottom: 25px;
	line-height: 1.6;
}
.content .success{
	text-align: center;
	line-height: 2;
}
.content form{
	width: 400px;
}
.content form{
	display: flex;
	flex-direction: column;
}
.content form label{
	color: #515151;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
}
.content form .inputContainer{
	width: 100%;
	height: 40px;
	position: relative;
	border: 1px solid #9c9c9c;
	border-radius: 3px;
	margin-bottom: 25px;
}
.content .inputContainer input{
	position: absolute;
	font-size: 20px;
	outline: none;
	border: none;
	top: 7px;
	left: 10px;
	bottom: 7px;
	right: 10px;
	z-index: 2;
}
.content .inputContainer.visible input{
	font-size: 14px;
}
.content .inputContainer svg{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0, -50%);
	border-radius: 50%;
	padding: 3px;
	cursor: pointer;
	color: #999;
}
.content .inputContainer svg:hover{
	background: rgba(0, 0, 0, .08);
}
.content .inputContainer.visible [data-icon="eye"]{
	display: initial;
}
.content .inputContainer.visible [data-icon="eye-slash"]{
	display: none;
}
.content .inputContainer .error{
	position: absolute;
	bottom: -18px;
	color: #f02849;
	font-size: 13px;
}
.content form button{
	width: 100%;
	padding: 15px 0;
	background: #098DDF;
	color: #fff;
	text-align: center;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	box-shadow: 2px 2px 2px rgba(115, 115, 115, 1);
	cursor: pointer;
	transition: 0.1s;
}
.content form button:hover{
	background: #3ba5e7;
}
.content form button:disabled{
	background: #3ba5e7;
	cursor: default;
}
.content .back{
	width: 400px;
	margin-top: 20px;
	color: #515151;
}
.content .back a{
	text-decoration: none;
}