.container{
	background: rgba(199, 217, 237, 0.3);
	width: 100%;
	height: 100%;
	padding: 2rem 2.5rem;
	overflow-x: auto;
	overflow-y: auto;
}
.container .label{
	text-decoration: none;
	display: none;
	align-items: center;
	font-weight: 600;
	font-size: 1rem;
	height: 3rem;
	color: #464646;
	pointer-events: none;
}
.container .label.active{
	display: flex;
}
.container .label:before{
	content: "";
	display: block;
	background: #098DDF;
	width: 0.9375rem;
	height: 0.5rem;
	border-radius: 5px;
	margin-right: 0.625rem;
}
.container .label, .container .contain{
	max-width: 900px;
	margin: auto;
}
.container .contain{
	min-height: calc(100% - 3rem);
	background: #fff;
	border-radius: 5px;
}