form.container{
	height: 100%;
	width: 100%;
	padding: 2rem;
}
.fieldContainer{
	position: relative;
	font-size: 0.9rem;
	padding-top: 1.5em;
	max-width: 550px;
}
.fieldContainer:first-child ~ .fieldContainer{
	margin-top: 1.5625em;
}
.fieldContainer label{
	font-size: 0.9em;
	position: absolute;
	left: 0;
	top: 0;
	width: 10em;
	color: #464646;
	font-weight: 600;
}
.fieldContainer input{
	padding: 0.7rem 0.95rem;
	background: rgba(235, 235, 235, 0.3);
	border-radius: 5px;
	border: none;
	outline: none;
	font-weight: 500;
	color: #464646;
}
.fieldContainer input:not([type="radio"]){
	width: 100%;
}
.buttons{
	margin-top: 3.125rem;
	display: flex;
	align-items: center;
	font-size: 0.9rem;
}
.buttons .save{
	background: #098DDF;
	font-size: 0.9em;
	height: 2.7em;
	padding: 0;
	width: 100%;
	border: none;
	border-radius: 3px;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
}
.buttons .save:hover{
	background: #49aae7;
}
.buttons .save:disabled{
	background: #b6d7ec;
}
.buttons .save:disabled:hover{
	background: #b6d7ec;
}
@media only screen and (min-width: 500px) {
	
	.fieldContainer{
		padding-top: 0;
		padding-left: 9em;
	}
	.fieldContainer label{
		left: 0;
		top: 50%;
		transform: translate(0, -50%);
	}
	.buttons .save{
		padding: 0 3em;
		width: initial;
	}
	
}
@media only screen and (min-width: 600px) {
	form.container{
		padding: 4rem;
	}
	.fieldContainer{
		font-size: 1rem;
	}
	.fieldContainer input{
		padding: 0.8125rem 1.0625rem;
	}
	.buttons{
		font-size: 1rem;
	}
}