@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
/*font-family: 'Fira Code', monospace;*/
.container{
	font-family: 'Open Sans', sans-serif;
	padding-top:140px; 
}
.content{
	width: 500px;
	margin: auto;
}
.content h1{
	color: #919191;
	font-size: 65px;
	margin-bottom: 10px;
}
.content h3{
	margin-bottom: 10px;
	font-size: 22px;
}
.content p{
	font-size: 0.9em;
	text-transform: uppercase;
	line-height: 1.8;
	margin-bottom: 20px;
}
.content a{
	padding: 8px 0;
	background: #2986cc;
	text-decoration: none;
	text-align: center;
	display: block;
	width: 60px;
	color: #fff;
	font-weight: 600;
	transition: 0.1s;
}
.content a:hover{
	background: #4595d2;
}