.container{
	padding:20px;
}
.container .menu{
	position: relative;
	margin-bottom: 40px;
	width:400px;
	padding:10px 100px 10px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	border-radius: 5px;
	background: #fff;
	font-weight: 500;
	box-shadow: 0 6px 20px rgba(206, 206, 206, 0.4);
}
.menu a{
	text-decoration: none;
	font-size:13px;
	color: #073763;
	font-weight:600;
}
.menu a svg{
	font-size:16px;
	margin-right: 5px;
}
.menu .btnClass{
	position: absolute;
	right: 10px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}
.menu .btnClass .plus{
	padding:5px 10px;
	background: #098DDF ;
}
.menu .btnClass .plus:hover{
	background: #6fb8e5 ;
}
.menu .btnClass .addClass{
	display: none;
	padding: 15px 5px;
	background: #fff;
	position: absolute;
	right: 10px;
	bottom: -80px;
	box-shadow: 0 0 10px rgba(206, 206, 206, 0.6);
	list-style: none;
	border-radius: 4px;
	z-index:10;
}
.menu .btnClass .addClass li{
	font-size: 15px;
	padding: 5px 10px;
	width: 130px;
	color: #073763;
	cursor: pointer;
}
.menu .btnClass .addClass li:hover{
	background: rgba(232, 232, 232, 0.5);
}
.container .content{
	position: relative;
	display:grid;
	justify-content: start;
	gap: 30px;
}
.container .content .nodata{
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate( -50%, 0);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.nodata .img{
	position: relative;
	width: 150px;
}
.nodata .img .attr{
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	writing-mode: vertical-rl;
	font-size: 0.8em;
	color: #777;
	text-decoration: none;
	position: absolute;
}
.nodata .info{
	color: #3c4043;
	text-align: center;
	font-weight: 600;
}
.nodata .btn{
	display: flex;
	justify-content: space-between;
	width: 260px;
	margin-top: 10px;
}
.nodata .btn .add, .nodata .btn .join{
	cursor: pointer;
	font-weight: 600;
	border-radius: 1em;
	line-height: 2.1;
	width: 48%;
	text-align: center;
}
.nodata .btn .add{
	margin-right: 20px;
	color: #fff;
	background: #098DDF;
	transition: 0.2s;
}
.nodata .btn .add:hover{
	background: rgba(39, 153, 245, 0.9);
}
.nodata .btn .join{
	color: #098DDF;
	border: solid 1px #098DDF;
}
