.container {
	position:relative;
	margin-bottom:10px;
	width:100%;
	padding:10px 10px 10px 37px;
	border-radius:3px;
	background-color:#FFCCBA;
	color:#454545;
	word-wrap:break-word;
}
.container .icon{
	position:absolute;
	left:4%;
	top:10px;
}
.container svg{
	font-size:1.2em;
}
.container span{
	font-size:0.9em;
	vertical-align: top;
}